<link href="/style.css" rel="stylesheet" type="text/css">
<script src="/script.js"></script>

<h2>Working</h2>
<div class="menu">
    <form>
        <label>Length</label>
        <input type="number" step="1" name="height">
        <br>
        <label>Width</label>
        <input type="number" step="1" name="width">
        <br>
        <label>Doors</label>
        <div onclick="addDoor()" class="aButton">+</div>
        <div onclick="removeDoor()" class="aButton">-</div>
        <br>
        <div id="doors"></div>
        <div onclick="update()" class="bButton">Update</div>
    </form>
</div>
<div class="scene">
    <div class="box">
        <div class="box__face box__face--back"></div>
        <div class="box__face box__face--right"></div>
        <div class="box__face box__face--left"></div>
        <div class="box__face box__face--floor"></div>
    </div>
</div>