<link href="/grid.css" rel="stylesheet" type="text/css">
<h2>Adventure Begins Here!</h2>
<form method='post' action='/login'>
            <p>Enter Adventurer Name:</p>
            <input type="text" name="adventurer" id="login_name" /><br>
    <table>
        <tr>
                <td><label>Attack</label></td>
                <td><input type="number" name="atk" value="<%= atk %>" /></td>
        </tr>
        <tr>
                <td><label>Defense</label></td>
                <td><input type="number" name="def" value="<%= def %>" /></td>
        </tr>
        <tr>
                <td><label>HitPoints</label></td>
                <td><input type="number" name="hp" value="<%= hp %>" /></td>
        </tr>
        <tr>
                <td><label>Magic</label></td>
                <td><input type="number" name="mgc" value="<%= mgc %>" /></td>
        </tr>
    </table>
    <br>
    <button>Begin</button>
</form>