<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="wrap">
  <div class="cube">
    <div class="front">front</div>
    <div class="back"><img height="200" width="400" src="https://images.pexels.com/photos/761142/pexels-photo-761142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
    <div class="top">top</div>
    <div class="bottom"><img height="200" width="400" src="https://cdnb.artstation.com/p/assets/images/images/001/987/653/large/peter-severud-stone-floor.jpg?1455605344"></div>
    <div class="left">
      <div class="door">door</div>
    </div>
    <div class="right"><img height="200" width="800" src="https://images.pexels.com/photos/761142/pexels-photo-761142.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"></div>
  </div>
</div>
</body>
</html>
