.main {
    background-color: red;
    height: 100vh;
  }
  .textBox {
    height: 80%;
    background: blue;
  }
  .third {
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 90%;
    opacity: 0.5;
  }
  .p1 {
    background-color: lightblue;
    width:90%;
    height:20%;
  }