#grid_css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#chat {
    grid-column: 1/4;
    grid-row: 1/3;
    height: 30rem;
    border: 3px solid black;
    text-align: top;
}

#characters {
    grid-column: 4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

#talk {
    width: 90%;
}

#list {
    grid-column: 1;
    grid-row: 14/18;
}

#chitchat {
    width: 70%;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#map {
    height:70%;
    border-bottom: 2px solid black;
}

#messages {
    height: 20%;
    overflow: scroll;
}