body {
    background-color: palegoldenrod;
    color: #767cbe;
}

h2 {
    color: darkblue;
}

#grid_css {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#chat {
    grid-column: 1/4;
    grid-row: 1/3;
    height: 30rem;
    border: 4px solid goldenrod;
    text-align: top;
}

#characters {
    grid-column: 4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

#talk {
    width: 90%;
}

#list {
    grid-column: 1;
    grid-row: 14/18;
    color: darkslateblue;
}

#chitchat {
    width: 70%;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#map {
    height:70%;
    border-bottom: 2px ridge goldenrod;
    background-color: #eae6d5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%233c3743' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#messages {
    height: 20%;
    overflow: auto;
}

button {
    background-color: silver;
    color: whitesmoke;
    border-radius:  0 1em 1em 0;
}

#room {
    width: 800px;
    height: 320px;
}