h2 {
    color: red;
}

.menu {
    display: inline-block;
    vertical-align: top;
    background-color: lightgray;
    width: 20%;
    height: 90%;
    border: 3px solid black;
}

.scene {
    display: inline-block;
    width: 300px;
    height: 200px;
    perspective: 500px;
    padding: 5% 20%; /* padding left doesn't work, nor setting left value */
}

.box {
    width: 400px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-50px);
}

.box__face {
    position: absolute;
}

.box__face--back {
    background-color: red;
    width: 400px;   /* adjust right wall and floor */
    height: 200px;
    transform: rotateY(180deg) translateZ(50px);
}

.box__face--floor {
    background-color: darkgray;
    width: 400px;
    height: 400px; /* adjust to make floor larger */
    top: -100px;     /* adjust top to level floor with walls */
    transform: rotateX(-90deg) translateZ(100px);
}

.box__face--right {
    transform: rotateY(90deg) translateZ(250px); /* adjust per pixel? with back wall */
}

.box__face--left {
    transform: rotateY(-90deg) translateZ(150px);
}

.box__face--right,
.box__face--left {
    background-color: darkred;
    width: 400px;
    height: 200px;
    left: -50px;
}

.box.show-back {
    transform: translateZ(-50px) rotateY(-180px);
}

.box.show-right {
    transform: translateZ(-150px) rotateY(-90deg);
}

.box.show-floor {
    transform: translateZ(-100px) roateX(90deg);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

input {
    width:30%;
}

.aButton {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: darkgray;
    border: 1px solid black;
    width: 16px;
    height: 16px;
}

.bButton {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    background-color: darkgray;
    border: 1px solid black;
    padding: 3px;
}