body {
    background-color: lightgray;
}

h2 {
    color: darkred;
}

#chat {
    border: 3px solid gold;
    border-radius: 12px;
    width: 60%;
    height: 40%;
}

#chitchat {
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.attr {
    border: 2px solid black;
}

form {
    margin-bottom: 10px;
}

table {
    margin-bottom: 15px;
}

button {
    margin-top: 20px;
    background-color: #555555;
    color: yellow;
    border-radius: 8px;
    padding: 10px;
}

#monster {
    display: inline-block;
    vertical-align: top;
}

#stats {
    display: inline-block;
}

#talk {
    width: 50em;
}

li {
    list-style-type: none;
}

#list {
    overflow: auto;
    height: 80%;
}